body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.yolo {
    color: tomato;
}

.quo {
    color: tomato;
}

.auo {
    color: cornflowerblue;
}

.wuo {
    color: darkgoldenrod;
}

.flexiable {
    display: flex;
    margin-bottom: auto;
    background-image: url(Photo/cov.png);
    background-repeat: repeat;
}

.Top {
    background-image: url(Photo/cov.png);
    background-repeat: repeat;
}

.half {
    width: 50%;
    padding-left: 7%;
}

.half img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: -o-linear-gradient(tomato, white);
    background-color: forestgreen;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-weight: 600;
}

.tre {
    width: 50%;
    padding-right: 10%;
}

.tre img {
    width: 80%;
}

.Dreams {
    background-image: url(Photo/cov.png);
    background-repeat: repeat;
}

.btn {
    text-decoration: none;
    background-image: -o-linear-gradient(tomato, white);
    background-color: forestgreen;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-weight: 600;
}

.road {
    background-image: url(Photo/cov.png);
    background-repeat: repeat;
}

.wer {
    width: 50%;
    padding-left: 10%;
}

.wer img {
    width: 200%;
    padding-left: 10%;
}

.qtn {
    text-decoration: none;
    background-image: -o-linear-gradient(tomato, white);
    background-color: forestgreen;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-weight: 600;
}

.eor {
    text-align: center;
}

.roe {
    text-align: center;
}

.woq {
    text-align: center;
}

.qow {
    text-align: center;
}

.uop {
    text-align: center;
}

.eow {
    text-align: justify;
}

.tyu {
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    border-radius: 20px;
}

#full {
    border-left: 6px solid rgb(182, 179, 179);
}

#code {
    border-left: 6px solid gray;
}

footer p {
    text-align: center;
}